<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>Techs</servlet-name>
        <servlet-class>pashynskyi.SERVLETS.Techs</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>pashynskyi.SERVLETS.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Users</servlet-name>
        <servlet-class>pashynskyi.SERVLETS.Users</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Workstations</servlet-name>
        <servlet-class>pashynskyi.SERVLETS.Workstations</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Techs</servlet-name>
        <url-pattern>/Techs</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Users</servlet-name>
        <url-pattern>/Users</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Workstations</servlet-name>
        <url-pattern>/Workstations</url-pattern>
    </servlet-mapping>
</web-app>
